


<h1>Place an Order</h1>

<!-- string -->
<div>Chose Brush Size:</div>
<select>
  <option value="Paint-Brush-Large">Large Paint Brush</option>
  <option value="Paint-Brush-Medium">Medium Paint Brush</option>
  <option value="Paint-Brush-Small">Small Paint Brush</option>
  <option value="Paint-Brush-Extra-Small">Extra Small Paint Brush</option>
</select>


<div *ngIf="brushes">
  <div *ngFor="let b of brushes">
    {{b.typeBrush1}} {{b.typeBrush2}}
  </div>
</div>



<!-- boolean -->
<div class="subscribe">
<div>Subscribe to the news letter?</div>
<form action="">
  <input type="radio" name="yes" value="yes"> Yes<br>
    <input type="submit" value="Submit">
</form>
</div>
