


<h1>Place an Order</h1>
<div>Chose Brush Size:</div>
<select>
  <option value="Paint-Brush-Large">Large Paint Brush</option>
  <option value="Paint-Brush-Medium">Medium Paint Brush</option>
  <option value="Paint-Brush-Small">Small Paint Brush</option>
  <option value="Paint-Brush-Extra-Small">Extra Small Paint Brush</option>
</select>




{{ palette.id }}


<span *ngIf="palette.isFav==true">&#9733;</span>
<h2 class="h5">{{palette.paletteName}}</h2>
<div class="palette">
  <div class="box-left" [ngStyle]="{backgroundColor:palette.colors[0]}"></div>
  <div class="box-top" [ngStyle]="{backgroundColor:palette.colors[1]}"></div>
  <div class="box-bottom" [ngStyle]="{backgroundColor:palette.colors[2]}"></div>
</div>
