<div class="background">
<br>

<h1>Place an Order</h1>

<!-- string -->
<div class="section">
<div>Chose Brush Size:</div>
<select>
  <option value="Paint-Brush-Large">Large Paint Brush</option>
  <option value="Paint-Brush-Medium">Medium Paint Brush</option>
  <option value="Paint-Brush-Small">Small Paint Brush</option>
  <option value="Paint-Brush-Extra-Small">Extra Small Paint Brush</option>
</select>
</div>

<!-- string -->
<div class="section">
<div>Number of Brushes:</div>
<input type="text" name="number" value="">
</div>


<!-- array -->
<div class="section">
<div>Chose Brush Type:</div>
<div *ngIf="order">
  <div *ngFor="let o of order">
    {{o.typeBrush1}} {{o.typeBrush2}}
  </div>
</div>
</div>


<!-- boolean -->
<div class="section">
<div>Subscribe to the news letter?</div>
<form action="">
  <input type="radio" name="yes" value="yes"> Yes<br>
  <div class="section">
    <input type="submit" value="Submit">
  </div>
</form>
</div>
<br>
</div>
